/* .header-container {
  width: 100%;
  background-color: #eef3fc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 70px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image {
  width: 60px;
  height: auto;
}

.brand-name {
  font-size: 24px;
  font-weight: bold;
  color: #00897b;
}

.highlight {
  color: #4aa0ff;
}

.header-nav {
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: #1B3C7D;
  font-size: 16px;
  transition: color 0.3s;
  padding: 5px 10px;
}

.nav-link:hover {
  color: #4aa0ff;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-button {
  background-color: #4aa0ff;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #1B3C7D;
}

.bell-icon {
  font-size: 24px;
  color: #000;
  cursor: pointer;
 
}
.path{
  
} */