.doctor-schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f7fa;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.top-bar {
  width: 100%;
  background-color: #2a3b8f;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar .logo {
  display: flex;
  align-items: center;
}

.top-bar .logo img {
  height: 35px;
  margin-right: 10px;
}

.top-bar .logo h1 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.top-bar .notification-icon {
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.doctor-schedule-card {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
  padding: 20px;

}

.doctor-schedule-img {
  border-radius: 8px;
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin-right: 20px;
  margin-left: -1100px;
}

.doctor-schedule-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doctor-schedule-info h2 {
  font-size: 22px;
  color: #2a3b8f;
  margin: 0;
}

.doctor-schedule-info p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.doctor-schedule-separator-line {
  width: 100%;
  height: 2px;
  background-color: #ddd;
  margin: 10px 0;
}

.doctor-schedule-h3 {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.doctor-schedule-appointment-table {
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

table thead {
  background-color: #f5f7fa;
  font-size: 14px;
}

table th,
table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

table th {
  font-weight: bold;
}

.doctor-schedule-book-button {
  background-color: #2a3b8f;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.doctor-schedule-book-button:hover {
  background-color: #1f2f70;
}

.doctor-schedule-unavailable {
  background-color: #ff4d4d;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

#go-back-button {
  background-color: #2a3b8f;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .doctor-schedule-card,
  .doctor-schedule-appointment-table {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }

  table th,
  table td {
    font-size: 12px;
  }
}