/* .hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #f7f9fb;
  background-image: url('../../assets/1.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
}

.hero-content {
  max-width: 600px;
  text-align: left;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.appointment-btn {
  background-color: #00bfa6;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.hero-stats {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.hero-stats div {
  text-align: center;
}

.hero-stats h3 {
  font-size: 24px;
  margin: 0;
}

.hero-stats p {
  font-size: 14px;
  margin: 5px 0 0;
} */