.about-us-container {
  font-family: Arial, sans-serif;
  color: #333;
}

.our-story-section {
  position: relative;
  /* Enable absolute positioning for overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* Full height of the section */
  background-image: url('../assets/2.jpg');
  /* Set the background image */
  background-size: cover;
  /* Ensure the background image covers the entire section */
  background-position: center;
  /* Center the background image */
}

.text-content {
  background-color: rgba(0, 0, 0, 0.6);
  /* Dark overlay for better text readability */
  color: #fff;
  /* White text color */
  padding: 40px;
  /* Add padding for text content */
  border-radius: 10px;
  /* Rounded corners */
  max-width: 60%;
  /* Limit the width of the text content */
  text-align: left;
  /* Align text to the left */
  margin: 20px;
  /* Center content with a margin */
}

.text-content h2 {
  color: #66c1b9;
  /* Light blue for heading */
  margin-bottom: 20px;
}

.text-content p {
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Highlights Section */
.highlights-section {
  display: flex;
  justify-content: space-around;
  background-color: #f0f8f7;
  padding: 50px 0;
  margin: 50px auto;
  max-width: 1200px;
}

.highlight-box {
  text-align: center;
  width: 30%;
}

.highlight-box h3 {
  color: #66c1b9;
  margin-bottom: 15px;
}

.highlight-box p {
  font-size: 14px;
  color: #666;
}