/* .map-section {
  padding: 20px;
  text-align: center;
  background-color: #FFFFFF;
  margin-top: 0;
}

.gmap-frame {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 0 auto 20px;
}

.info-disclaimer {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
} */