/* .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: #D7E4FE;
   Updated color 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;

}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 50px;
  width: auto;
}

.brand-name {
  font-size: 24px;
  color: #00897b;
  font-weight: bold;
}

.highlight {
  color: #4aa0ff;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #1B3C7D;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #4aa0ff;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-btn {
  padding: 0.5rem 1rem;
  background-color: #1a375f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #132847;
}

.noti-icon img,
.us-icon img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}  */