/* Container for the whole form */
.appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #D7E4FE;
  /* Light blue background from the image */
  padding: 20px;
  overflow: hidden;
}

/* Form container */
.form-container {
  background-color: #ffffff;
  /* White background for form */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  max-width: 800px;
  /* Increased width for a larger form */
  width: 100%;
}

.form-title {
  background-color: #2C3E50;
  /* Dark blue color */
  color: #ffffff;
  /* White text */
  padding: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: -40px -40px 30px -40px;
  /* Align the header with the form edges */
  font-size: 24px;
}

/* Form styling */
.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 18px;
  /* Larger font size for better readability */
  color: #333;
}

.icon {
  margin-right: 8px;
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #e9ecef;
  /* Light grey background for inputs */
}

.form-button {
  background-color: #1A375F;
  /* Darker blue for button */
  color: #ffffff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  /* Larger font size for the button */
  margin-top: 20px;
}

.form-button:hover {
  background-color: #3577F9;
  /* Change hover color for better contrast */
}